.hover-curser:hover{
    cursor: copy;
}
.DetailsBox{
    padding: 20px;
    margin-bottom: 30px;
    border: solid 1px #e5e5e5;
    border-radius: 8px;
    margin-top: 15px;
}
.save_btn{
    background-color: #4257C0;
    font-size: 14px;
    color:#fff;
}
.header-toggler{
    color: #321970;
}
.header-nav .avatar-md {
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1rem;
}